<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/theme.css' %}">

    <title>Home</title>
  </head>
  <style>

  </style>
  <body>
    <div class="container-fluid" style="background-color: #FFAF94; min-height:100vh">
      <div class="row">
          <div class="col-lg-12" style="height: 100vh; padding: 0; margin: 0; width: 100vw"> 
            <center>

              {% if user.is_authenticated %}
            <h1>Hi {{ user.username }}</h1>
            <a href="{% url 'logout' %}" target="_blank">
              <button>logout!</button> </a>
            
    
        {% else %}
            <h1>You are not logged in</h1> 
            <a href = "{% url 'login' %}"> <button class="btn btn-outline-primary">Login!</button> </a>
            <a href = "{% url 'signup' %}"> <button class="btn btn-outline-primary">Signup!</button> </a>
        {% endif %}
          </div>

            </center>
            
              
      </div>

     

      
    

  
  </div>
    
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>